body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, input{
  margin: 0;
  font-family: 'Space Mono';
  font-size: 14px;
}

h1, h2, h3, h4{
  margin: 0;
  font-family: 'Fira Code';
}

button:hover{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1)
}

section{
  padding: 16px 25px;
  text-align: justify
}